@font-face {
    font-family: 'primaria';
    src: url(../fonts/KirangHaerang-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'secundaria';
    src: url(../fonts/JetBrainsMono-VariableFont_wght.ttf);
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #EDE8DC;
}

header {
    grid-area: header;
}

header h1 {
    font-family: "primaria";
    font-size: 60px;
}

#barra-superior {
    grid-area: barra-superior;
}

section#destaques h2 {
    grid-area: destaques;
    font-family: "secundaria";
    font-size: 25px;
    padding: 20px;
}

#catalogo1 {
    grid-area: catalogo1;
}

section#moveis h1 {
    grid-area: moveis;
    font-family: "secundaria";
    font-size: 25px;
    padding: 20px;
}

#catalogo2 {
    grid-area: catalogo2;
}

#footer {
    grid-area: footer;
}



/* Mobile */
@media (min-width: 0px) and (max-width: 767px) {
    .container {
        display: grid;
        grid-template-areas: 
        "header"
        "barra-superior"
        "destaques"
        "catalogo1"
        "moveis"
        "catalogo2"
        "footer";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-content: center;
        place-items: center;
        row-gap: 5px;
    }

    #barra-superior {
        justify-content: center;
        align-items: center;
    }

    #footer {
        display: flex;
        flex-direction: row;
        gap: 20px;
        padding: 10px;
    }

}



/* tablet */
@media (min-width: 768px) and (max-width: 1199px){
    .container {
        display: grid;
        display: block;
        grid-template-areas: 
        "header"
        "barra-superior"
        "destaques"
        "catalogo1"
        "moveis"
        "catalogo2"
        "footer";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-content: center;
        place-items: center;
        row-gap: 5px;
    }

    #barra-superior {
        justify-content: center;
        align-items: center;
    }

    #footer {
        display: flex;
        flex-direction: row;
        gap: 20px;
        padding: 10px;
    }

}


/* Desktop em diante  */
@media (min-width: 1200px) {
    .container {
        display: grid;
        display: block;
        grid-template-areas: 
        "header"
        "barra-superior"
        "destaques"
        "catalogo1"
        "moveis"
        "catalogo2"
        "footer";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-content: center;
        place-items: center;
        row-gap: 5px;
    }

    #barra-superior {
        justify-content: center;
        align-items: center;
    }

    #footer {
        display: flex;
        flex-direction: row;
        gap: 20px;
        padding: 10px;
    }

}

